@charset "utf-8"; 
/*CSS Documen*/ 
*{ 
font-family: "Fedra Sans",sans-serif; 
color: #2F4F4F
} 

.backColor
{
	background-color: #009999;
}

table
{
	width: 80%;
	align="center";
	bgcolor="#ffffff";
	background-color: #ffffff;
	border-spacing: "10px"
	
	
}


